body{
    text-align: left;
    background-color: aqua;
    border-radius: circle;

    }
h1{
color: black;
}
image{
    height: 50px;
    width: 30px;
}
h2{
color: firebrick;
}
header{
text-align: center;
    
}
   
